@model IEnumerable<GymBookingSystem.ViewModels.GymClassAttendingViewModel>

@{
    ViewData["Title"] = "MoreSophisticatedIndex";
}

<h1>MoreSophisticatedIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attending)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attending)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                @if (!item.Attending)
                {
                    <td>
                        <a asp-action="BookingToggle" asp-route-id="@item.Id">Book Now</a>
                    </td>
                }

                else
                {
                    <td>
                        <a asp-action="BookingToggle" asp-route-id="@item.Id">Unbook</a>
                    </td>
                }

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span>|</span>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    </td>
                }

            }
        </tr>
}
    </tbody>
</table>
